#slider-288 .wd-slide {
	min-height: 280px;
}

@media (max-width: 1024px) {
	#slider-288 .wd-slide {
		min-height: 280px;
	}
}

@media (max-width: 768px) {
	#slider-288 .wd-slide {
		min-height: 280px;
	}
}
