#slider-286 .wd-slide {
	min-height: 460px;
}

@media (max-width: 1024px) {
	#slider-286 .wd-slide {
		min-height: 460px;
	}
}

@media (max-width: 768px) {
	#slider-286 .wd-slide {
		min-height: 270px;
	}
}
